<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/assets/css/custom.css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="container register-form">
    <form METHOD="POST" ACTION="/users/sign_in">
        <div class="form">
            <div class="note">
                <p>User(Email)</p>
            </div>
        </div>
    </form>
</div>